body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
      font-family: kodchasan-reg;
      src: url(./assets/Kodchasan-Regular.ttf);
  }

  @font-face {
      font-family: kodchasan-medium;
      src: url(./assets/Kodchasan-Medium.ttf);
  }

  @font-face {
      font-family: kodchasan-semi;
      src: url(./assets/Kodchasan-SemiBold.ttf);
  }

  @font-face {
      font-family: kodchasan-bold;
      src: url(./assets/Kodchasan-Bold.ttf);
  }
}